* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar {
    font-family: 'Edu NSW ACT Foundation', cursive;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 160vh;

}

.navbar img {
    width: 16vw;
    height: 10vh;
    padding: 30px 30px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
}


.button button {
    width: 10vw;
    height: 7vh;
    margin: 10px 15px;
    border: none;
    color: white;
    font-size: 20px;



}

.anchor {
    text-decoration: none;
    color: black;
}

.button {
    height: 35vh;
    padding: 0px 26px;
}

.button1 {
    background-color: orange;

}

.button2 {
    background-color: black;

}

.button1:hover {
    background-color: black;
    transition: 0.5s ease-in-out;
}

.icon {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 55px;
    height: 30vh;

}

.icon1,
.icon2,
.icon3 {
    display: flex;
    gap: 15px;
}

.icon1:hover,
.icon2:hover,
.icon3:hover {
    color: orange;
    transition: 0.5s ease;
}

.icons {
    display: flex;
    gap: 45px;
    margin: 0px 55px;
    color: gray;
}

.icon i {
    padding: 9px;
}

.icons i:hover {
    color: orange;
    transition: 0.5s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.point {
    width: 0px;
    height: 3px;
    background: orange;
    border-radius: 3px;
    transition: width 0.5s ease;
}

.point div:hover {
    color: orange;
    transition: 0.5s ease;
}

.point:hover {
    width: 25px;
}

.active_point {
    width: 25px !important;
}

.home {
    position: absolute;
    left: 42px;
    top: 173px;
}

.shop {
    position: absolute;
    left: 42px;
    top: 226px;
}

.product {
    position: absolute;
    left: 42px;
    top: 279px;
}

.cart {
    position: absolute;
    left: 42px;
    top: 332px;
}

.cheackout {
    position: absolute;
    left: 42px;
    top: 385px;
}

.active {
    color: orange;
}